<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userdao" class="com.qcm.dao.DaoVolatile.UserDao"/>
    <bean id="qtsdao" class="com.qcm.dao.DaoVolatile.QuestionDao"/>

    <bean id="testMetier" class="com.qcm.metier.TestMetier"/>
    <bean id="qtsMetier" class="com.qcm.metier.QuestionMetier">
        <property name="questionDao" ref="qtsdao"/>
    </bean>
    <bean id="userMetier" class="com.qcm.metier.UserMetier">
        <property name="userdao" ref="userdao"/>
    </bean>

    <bean id="testController" class="com.qcm.presentation.TestController">
        <property name="testMetier" ref="testMetier"/>
    </bean>
    <bean id="userController" class="com.qcm.presentation.UserController">
        <property name="userMetier" ref="userMetier"/>
    </bean>
    <bean id="qtsController" class="com.qcm.presentation.QuestionController">
        <property name="questionMetier" ref="qtsMetier"/>
    </bean>

</beans>